In [2]:
# Import Library
import pandas as pd
import numpy as np

In [3]:
population_df = pd.read_excel(
    'Population estimates by LGA, Significant Urban Area, Remoteness Area, Commonwealth Electoral Division and State Electoral Division, 2001 to 2023.xlsx', 
    sheet_name='Table 3',
    skiprows=6
)
print(population_df.head(10))

   State/Territory                   Remoteness Area        no.      no..1  \
0  New South Wales   Major Cities of Australia (NSW)  4791646.0  4832878.0
1              NaN    Inner Regional Australia (NSW)  1309389.0  1321149.0
2              NaN    Outer Regional Australia (NSW)   384554.0   382991.0
3              NaN            Remote Australia (NSW)    34756.0    34075.0
4              NaN       Very Remote Australia (NSW)    10004.0     9714.0
5              NaN             Total New South Wales  6530349.0  6580807.0
6         Victoria  Major Cities of Australia (Vic.)  3568891.0  3615482.0
7              NaN   Inner Regional Australia (Vic.)   951267.0   958509.0
8              NaN   Outer Regional Australia (Vic.)   239267.0   239670.0
9              NaN           Remote Australia (Vic.)     4190.0     4113.0

       no..2      no..3      no..4      no..5      no..6      no..7  ...  \
0  4867228.0  4894766.0  4931770.0  4974013.0  5052320.0  5146661.0  ...
1  1330957.0  1337690.0  1346082.0  1354983.0  1369615.0  1384368.0  ...
2   379956.0   376856.0   374896.0   374139.0   373071.0   373575.0  ...
3    33193.0    32316.0    31589.0    30974.0    30675.0    30413.0  ...
4     9381.0     9107.0     8869.0     8581.0     8475.0     8444.0  ...
5  6620715.0  6650735.0  6693206.0  6742690.0  6834156.0  6943461.0  ...
6  3664438.0  3712279.0  3767630.0  3831302.0  3913364.0  4003972.0  ...
7   965988.0   971742.0   978064.0   985563.0   995747.0  1007526.0  ...
8   239361.0   239198.0   239709.0   240650.0   240692.0   241174.0  ...
9     4022.0     3930.0     3843.0     3751.0     3719.0     3703.0  ...

      no..13     no..14     no..15     no..16     no..17     no..18  \
0  5627414.0  5723253.0  5825821.0  5930874.0  6011991.0  6088337.0
1  1465979.0  1478446.0  1492516.0  1509682.0  1527522.0  1543589.0
2   377413.0   377496.0   378057.0   378749.0   379438.0   379860.0
3    29496.0    29038.0    28670.0    28378.0    28076.0    27657.0
4     8051.0     7935.0     7794.0     7633.0     7449.0     7305.0
5  7508353.0  7616168.0  7732858.0  7855316.0  7954476.0  8046748.0
6  4556850.0  4668901.0  4799835.0  4909349.0  5009197.0  5102070.0
7  1089463.0  1103877.0  1122299.0  1140203.0  1158531.0  1177949.0
8   245174.0   246141.0   247658.0   249714.0   251980.0   253949.0
9     3430.0     3403.0     3380.0     3342.0     3330.0     3337.0

      no..19     no..20     no..21     no..22
0  6137535.0  6112572.0  6166301.0  6324725.0
1  1559150.0  1571760.0  1586980.0  1602106.0
2   379593.0   378970.0   380023.0   382007.0
3    27202.0    26778.0    26549.0    26581.0
4     7130.0     6982.0     6851.0     6866.0
5  8110610.0  8097062.0  8166704.0  8342285.0
6  5159031.0  5075096.0  5141424.0  5311624.0
7  1196684.0  1212737.0  1228322.0  1242464.0
8   256023.0   256701.0   257600.0   258103.0
9     3308.0     3288.0     3285.0     3250.0

[10 rows x 25 columns]

In [4]:
population_excel_file = 'Population estimates by LGA, Significant Urban Area, Remoteness Area, Commonwealth Electoral Division and State Electoral Division, 2001 to 2023.xlsx'
population_sheet_name = 'Table 3' # This sheet focuses on Remoteness Areas
rows_to_skip = 6 # Skip the title, notes, etc., to get to the header rows
output_population_csv = 'fact_population_remoteness.csv'

Reading data from:
File: Population estimates by LGA, Significant Urban Area, Remoteness Area, Commonwealth Electoral Division and State Electoral Division, 2001 to 2023.xlsx
Sheet: Table 3
Skipping 6 rows...

--- Initial Data Read (first 5 rows) ---

  State/Territory                 Remoteness Area        no.             \
  New South Wales Major Cities of Australia (NSW)    4791646    4832878
0             NaN  Inner Regional Australia (NSW)  1309389.0  1321149.0
1             NaN  Outer Regional Australia (NSW)   384554.0   382991.0
2             NaN          Remote Australia (NSW)    34756.0    34075.0
3             NaN     Very Remote Australia (NSW)    10004.0     9714.0
4             NaN           Total New South Wales  6530349.0  6580807.0

                                                                     ...  \
     4867228    4894766    4931770    4974013    5052320    5146661  ...
0  1330957.0  1337690.0  1346082.0  1354983.0  1369615.0  1384368.0  ...
1   379956.0   376856.0   374896.0   374139.0   373071.0   373575.0  ...
2    33193.0    32316.0    31589.0    30974.0    30675.0    30413.0  ...
3     9381.0     9107.0     8869.0     8581.0     8475.0     8444.0  ...
4  6620715.0  6650735.0  6693206.0  6742690.0  6834156.0  6943461.0  ...

                                                                     \
     5627414    5723253    5825821    5930874    6011991    6088337
0  1465979.0  1478446.0  1492516.0  1509682.0  1527522.0  1543589.0
1   377413.0   377496.0   378057.0   378749.0   379438.0   379860.0
2    29496.0    29038.0    28670.0    28378.0    28076.0    27657.0
3     8051.0     7935.0     7794.0     7633.0     7449.0     7305.0
4  7508353.0  7616168.0  7732858.0  7855316.0  7954476.0  8046748.0


     6137535    6112572    6166301    6324725
0  1559150.0  1571760.0  1586980.0  1602106.0
1   379593.0   378970.0   380023.0   382007.0
2    27202.0    26778.0    26549.0    26581.0
3     7130.0     6982.0     6851.0     6866.0
4  8110610.0  8097062.0  8166704.0  8342285.0

[5 rows x 25 columns]

--- Column Names / Structure ---
MultiIndex([('State/Territory',                 'New South Wales'),
            ('Remoteness Area', 'Major Cities of Australia (NSW)'),
            (            'no.',                           4791646),
            (            'no.',                           4832878),
            (            'no.',                           4867228),
            (            'no.',                           4894766),
            (            'no.',                           4931770),
            (            'no.',                           4974013),
            (            'no.',                           5052320),
            (            'no.',                           5146661),
            (            'no.',                           5239193),
            (            'no.',                           5311924),
            (            'no.',                           5373687),
            (            'no.',                           5448022),
            (            'no.',                           5535597),
            (            'no.',                           5627414),
            (            'no.',                           5723253),
            (            'no.',                           5825821),
            (            'no.',                           5930874),
            (            'no.',                           6011991),
            (            'no.',                           6088337),
            (            'no.',                           6137535),
            (            'no.',                           6112572),
            (            'no.',                           6166301),
            (            'no.',                           6324725)],
           )

--- Data Info ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 25 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   (State/Territory, New South Wales)                  10 non-null     object
 1   (Remoteness Area, Major Cities of Australia (NSW))  49 non-null     object
 2   (no., 4791646)                                      49 non-null     float64
 3   (no., 4832878)                                      49 non-null     float64
 4   (no., 4867228)                                      49 non-null     float64
 5   (no., 4894766)                                      49 non-null     float64
 6   (no., 4931770)                                      49 non-null     float64
 7   (no., 4974013)                                      49 non-null     float64
 8   (no., 5052320)                                      49 non-null     float64
 9   (no., 5146661)                                      49 non-null     float64
 10  (no., 5239193)                                      49 non-null     float64
 11  (no., 5311924)                                      49 non-null     float64
 12  (no., 5373687)                                      49 non-null     float64
 13  (no., 5448022)                                      49 non-null     float64
 14  (no., 5535597)                                      49 non-null     float64
 15  (no., 5627414)                                      49 non-null     float64
 16  (no., 5723253)                                      49 non-null     float64
 17  (no., 5825821)                                      49 non-null     float64
 18  (no., 5930874)                                      49 non-null     float64
 19  (no., 6011991)                                      49 non-null     float64
 20  (no., 6088337)                                      49 non-null     float64
 21  (no., 6137535)                                      49 non-null     float64
 22  (no., 6112572)                                      49 non-null     float64
 23  (no., 6166301)                                      49 non-null     float64
 24  (no., 6324725)                                      49 non-null     float64
dtypes: float64(23), object(2)
memory usage: 9.9+ KB

Renaming '('State/Territory', 'New South Wales')' to 'State_Territory'
Renaming '('Remoteness Area', 'Major Cities of Australia (NSW)')' to 'Remoteness_Area'
Flattening multi-index columns...

--- Columns after renaming and flattening ---
Index(['State/Territory_New South Wales',
       'Remoteness Area_Major Cities of Australia (NSW)', 'no._4791646',
       'no._4832878', 'no._4867228', 'no._4894766', 'no._4931770',
       'no._4974013', 'no._5052320', 'no._5146661', 'no._5239193',
       'no._5311924', 'no._5373687', 'no._5448022', 'no._5535597',
       'no._5627414', 'no._5723253', 'no._5825821', 'no._5930874',
       'no._6011991', 'no._6088337', 'no._6137535', 'no._6112572',
       'no._6166301', 'no._6324725'],
      dtype='object')

--- Data Head after renaming ---

,State/Territory_New South Wales,Remoteness Area_Major Cities of Australia (NSW),no._4791646,no._4832878,no._4867228,no._4894766,no._4931770,no._4974013,no._5052320,no._5146661,...,no._5627414,no._5723253,no._5825821,no._5930874,no._6011991,no._6088337,no._6137535,no._6112572,no._6166301,no._6324725
0,NaN,Inner Regional Australia (NSW),1309389.0,1321149.0,1330957.0,1337690.0,1346082.0,1354983.0,1369615.0,1384368.0,...,1465979.0,1478446.0,1492516.0,1509682.0,1527522.0,1543589.0,1559150.0,1571760.0,1586980.0,1602106.0
1,NaN,Outer Regional Australia (NSW),384554.0,382991.0,379956.0,376856.0,374896.0,374139.0,373071.0,373575.0,...,377413.0,377496.0,378057.0,378749.0,379438.0,379860.0,379593.0,378970.0,380023.0,382007.0
2,NaN,Remote Australia (NSW),34756.0,34075.0,33193.0,32316.0,31589.0,30974.0,30675.0,30413.0,...,29496.0,29038.0,28670.0,28378.0,28076.0,27657.0,27202.0,26778.0,26549.0,26581.0
3,NaN,Very Remote Australia (NSW),10004.0,9714.0,9381.0,9107.0,8869.0,8581.0,8475.0,8444.0,...,8051.0,7935.0,7794.0,7633.0,7449.0,7305.0,7130.0,6982.0,6851.0,6866.0
4,NaN,Total New South Wales,6530349.0,6580807.0,6620715.0,6650735.0,6693206.0,6742690.0,6834156.0,6943461.0,...,7508353.0,7616168.0,7732858.0,7855316.0,7954476.0,8046748.0,8110610.0,8097062.0,8166704.0,8342285.0